[Unit]
Description=Gunicorn instance to serve portfolio
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/portfolio-site
Environment="PATH=/root/portfolio-site/venv/bin"
ExecStart=/root/portfolio-site/venv/bin/gunicorn -w 3 -b 127.0.0.1:8000 app:app

[Install]
WantedBy=multi-user.target